.map-style img{
    background-image: cover;
    /* border-left: 1px solid black; */
    padding:15px;
    border-radius: 20px;
}

.formStyle p{
    background-color: rgb(212, 212, 212);
    font-size: 20px;
    padding: 0px 20px;
}

input{
    margin: 5px;
    width:100%;
    border:none;
    border-bottom: 1px solid black;
    padding: 10px 10px;
    outline: none;
}
input[type=text]{
    font-size: 15px;
    color:green;
    box-sizing: border-box;
    margin: 10px 0px;
    text-align: left;
}

